# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environments
venv/
.venv/
.env

# IDEs
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg

# PyInstaller
*.spec.bak
*.pyc

# Distribution files
*.dmg
*.exe
*.app
*.pkg
*.zip
Output/

# Installer files
installer_windows.iss.bak

# Project
*.log
temp/
tmp/
