# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environments
venv/
.venv/
.venv_pack/
.venv_py2app/
.env

# IDEs
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg
*.spec

# Packaging
icon.iconset/
icon_base.png

# Project
*.log
temp/
tmp/
